.kg-item {
    background-color: rgb(255, 29, 29);
}

.kg-span {
    font-weight: 500;
    color: rgb(65, 58, 58);
}

.Box {
    border: 2px solid black;
    margin: 15px;
    max-width: 50%;
    min-width: 250px;
    padding: 15px;
    border-radius: 5px;
}

.input {
    margin: 8px;
    align-items: center;
    width: 90%;
    border: 2px solid black;
    padding: 2px;
}
.kg-item{
    background-color:rgb(112, 103, 19);
}

.kg-span{
    font-weight: 500;
    color: rgb(230, 10, 10);
}

.buttonCls{
    float: right;
}